{% extends "base.html" %}

{% block content %}
<h2>Editar Cliente</h2>

<form method="POST">
    <label>Nombre:</label><br>
    <input type="text" name="nombre" value="{{ cliente.nombre }}" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" value="{{ cliente.email }}"><br><br>

    <label>Teléfono:</label><br>
    <input type="text" name="telefono" value="{{ cliente.telefono }}"><br><br>

    <label>Objetivo:</label><br>
    <input type="text" name="objetivo" value="{{ cliente.objetivo }}"><br><br>

    <label>Estado:</label><br>
    <input type="text" name="estado" value="{{ cliente.estado }}"><br><br>

    <button type="submit">Actualizar</button>
</form>

{% endblock %}
